{% extends 'superadmin/base.html' %}
{% load static %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12" align="center">
                    <h1>Generator Monitoring System</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title" style="margin-left: 40%">GMS For {{ d_id }}</h3>
                        </div>
                        <div class="card-body">
                            <!-- /.card-header -->
                            <div class="row">
                                <h3 style="margin-left: 30%"> Case Chart for Generator is Below</h3>
                            </div>
                            <div class="row">
                                <canvas id="myCanvas" width="1042" height="400" style="border:1px solid #d3d3d3;">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <h3 style="margin-left: 30%"> Sensor Chart for Generator Are Below</h3>
                            </div>
                            {% if sensor_list %}
                                {% for sensor in sensor_list %}

                                    {% if sensor.sensor_name == "Voltage" %}
                                        <div class="row"
                                             style="max-width: 1050px; overflow-x: scroll; min-width: 1050px;">
                                            <div id="chartContainer_voltage" value="{{ sensor.device.name }}"
                                                 style="padding:10px;height: 300px; width: 100%;"></div>
                                        </div>
                                        <br>
                                    {% endif %}
                                    {% if sensor.sensor_name == "Oil level" %}
                                        <div class="row"
                                             style="max-width: 1050px; overflow-x: scroll; min-width: 1050px;">
                                            <div id="chartContainer_oil" value="{{ sensor.device.name }}"
                                                 style="padding:10px;height: 300px; width: 100%;">
                                            </div>
                                        </div>
                                        <br>
                                    {% endif %}
                                    {% if sensor.sensor_name == "Temperature" %}
                                        <div class="row"
                                             style="max-width: 1050px; overflow-x: scroll; min-width: 1050px;">
                                            <div id="chartContainer_temperature" value="{{ sensor.device.name }}"
                                                 style="padding:10px;height: 300px; width: 100%;">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    {% endif %}

                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div align="center" class="col-xs-12"><h3 class="box-title">Lets Create Generator
                                        (which will contain sensors and Employees)</h3></div>
                                </div><br>
                                <div class="row">
                                    <h1 align="center" style="color: #0b93d5"> Welcome to GMS</h1>
                                </div><br>
                                <div class="row" align="center">
                                    <div class="col-4" style="align-content: center;width: 40%">
                                        <a href="/add-device/" type="button"
                                           class="btn btn-block btn-primary ">Lets Create Generator</a>
                                    </div>
                                </div><br>

                            {% endif %}

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock content %}

{% block js_script %}

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{% static 'js/rbar.js' %}"></script>
    <script>
        {% for sensor in sensor_list %}
            {% if sensor.sensor_name == "Voltage" %}
                var v_id = {{ sensor.id }}
            {% endif %}

            {% if sensor.sensor_name == "Oil level" %}
                var o_id = {{ sensor.id }}
            {% endif %}

            {% if sensor.sensor_name == "Temperature" %}
                var t_id = {{ sensor.id }}
            {% endif %}
        {% endfor %}

        function f(chart_div, device_title, graph_title, s_id, max) {
            var dps = []; // dataPoints
            var chart = new CanvasJS.Chart(chart_div, {
                title: {
                    text: device_title
                },
                axisX: {},
                axisY: {
                    includeZero: false,
                    title: graph_title,
                    maximum: 100,
                    minimum: 10
                },
                data: [{
                    type: "line",
                    dataPoints: dps
                }]
            });

            var xVal = 0;
            var yVal = 100;
            var updateInterval = 2000;
            var dataLength = 20; // number of dataPoints visible at any point
            var temp = 0;
            var updateChart = function (count) {

                count = count || 1;

                for (var j = 0; j < count; j++) {
                    yVal = Math.round(5 + Math.random() * 20) + max;
                    temp = yVal;
                    dps.push({
                        x: xVal,
                        y: yVal
                    });
                    xVal++;
                }

                if (dps.length > dataLength) {
                    dps.shift();
                }

                chart.render();
            };

            updateChart(dataLength);
            setInterval(function () {
                updateChart()
                sensor_reading(s_id, temp)
            }, updateInterval);

        }

        function sensor_reading(s_id, reading) {

            $.ajax({
                url: '{% url "sensor_reading" %}',
                data: {
                    'id': s_id,
                    's_reading': reading
                },
                dataType: 'json',
                success: function (data) {
                    if (data == "success") {
                        Swal.fire({
                            title: 'Case Pending',
                            text: "Kindly review case and assign to some one.",
                            type: 'question',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, View Cases!'
                        }).then((result) => {
                            window.location.href = "/view-cases"
                        })
                    }

                },
                error: function () {
                    console.log("Error in Loading Content")
                }
            });
        }

        if ($('#chartContainer_temperature').length)         // use this if you are using id to check
        {
            f("chartContainer_temperature", $('#chartContainer_temperature').val(), "Temperature Of Generator", t_id, 32);
        }
        if ($('#chartContainer_oil').length)         // use this if you are using id to check
        {
            f("chartContainer_oil", $('#chartContainer_oil').val(), "Oil Level Of Generator", o_id, 15);
        }
        if ($('#chartContainer_voltage').length)         // use this if you are using id to check
        {
            f("chartContainer_voltage", $('#chartContainer_voltage').val(), "Voltage Of Generator", v_id, 75);
        }

        function find_casepending() {
            $.ajax({
                url: '{% url "case_exist" %}',
                data: {
                    'id': {{ d_id.id }}
                },
                dataType: 'json',
                success: function (data) {
                    if (data == "success") {
                        Swal.fire({
                            title: 'Case Pending',
                            text: "Kindly review case and assign to some one.",
                            type: 'question',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, View Cases!'
                        }).then((result) => {
                            window.location.href = "/view-cases"
                        })
                    }
                },
                error: function () {
                    console.log("Error in Loading Content")
                }
            });
        }

        setInterval(function () {
            find_casepending();
        }, 5000);
    </script>

    <script type="application/javascript">

        var data = [{'Voltage Cases': {{ c_n_v }}}, {'Temperature Cases': {{ c_n_t }}}, {'Oil Level Cases': {{ c_n_o }}},];
        var barcolor = ['#5c5fff', '#ff3c75', '#ff6250', '#ff862d', '#ffa600', '#4CAF75', '#ff7354', '#ff8044'];
        var obj = {
            barId: 'myCanvas', // Need To pass canvas id  and mandatory to generate the bar graph
            barData: data, // Bar data in the form of array of object and mandatory to pass atleast 1 value
            barColour: barcolor, // Bar colour as array and the default value is '#020202'
            barStroke: 40, // Bar Stroke as per your requirement and the default value is 50
            barSpaces: 150, // Space between 2 bar graph and the default value is 80
            barInnerPadding: 80, // Padding inside all side of the canvas and the default value is 80
            barDivisionPositionFromLineX: 20, // X-Axis division position from left side of the bar graph and the deafult value is 20
            barDivisionPositionFromLineY: 20, // Y-Axis division position from bottom side of the bar graph and the deafult value is 20
            barAnimation: true, // Used to define the animation from the bottom to top position and the default value is true
            barAnimationSpeed: 1, // Define the animation spedd of the graph and the default value is 1
            barTextFont: "14px Arial", // Define font size with font family name and the default value is 14px Arial
            barDivision: 5, // Define the division to the Y-Axis and the default value is 5
            barScaleDivisionReqX: true, // Define the scale division marking to the X-Axis and the default value is true
            barScaleDivisionReqY: true, // Define the scale division marking to the Y-Axis and the default value is true
            barScaleDivisionY: 10, // Define the manually setup the Y-Axis division upto the highest value of your array default value is null
            barScaleDivisionStroke: 1, //Define the stroke of scale division and the default value is 1
            barScaleDivisionColour: '#333', //Define the stroke colour of the scale division and the default value is #333
            barAxisLineStroke: 2, //Define the stroke of the X & Y-Axis line and the default value is 1
            barAxisLineColour: '#333', //Define the stroke colour of the X & Y-axis line and the default value is #333
            barMaxHeight: 120, // Define the maximum height of the Y-Axis line of the bar graph and the default value is null
            barMaxWidth: 50 // Define the maximum height of the Y-Axis line of the bar graph and the default value is null
        };
        generateBarGraph(obj);

    </script>
{% endblock js_script %}